name: Deploy to ECS

on:
        workflow_dispatch:

jobs:
        deploy:
                runs-on: ubuntu-latest

                steps:
                        - name: Checkout code
                          uses: actions/checkout@v4

                        - name: Configure AWS credentials
                          uses: aws-actions/configure-aws-credentials@v4
                          with:
                                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                                  aws-region: ${{ secrets.AWS_REGION }}

                        - name: Force new ECS deployment
                          run: |
                                  aws ecs update-service \
                                    --cluster country-routing-cluster \
                                    --service country-routing-service \
                                    --force-new-deployment